{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    "no-underscore-dangle": 0,
    "react/require-default-props": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0
  }
}
